 <div class="card">
    <img class="card-img-top" [src]="img" alt="{{title}}">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <p class="card-text">{{desc}}</p>
      <p class="card-text"><small class="text-muted">{{muted}}</small></p>
      <button type="button" class="btn btn-outline-primary btn-block" >ver màs...</button>
    </div>
  </div>